@page "/"

@code {
    string InputValue = "";
    string HashValue = "***Hash will be here***";
    Microsoft.AspNetCore.Identity.PasswordHasher passwordHasher = new Microsoft.AspNetCore.Identity.PasswordHasher();

    private void calculateHashValue()
    {
      HashValue = passwordHasher.HashPassword(InputValue);
    }
}

<h4>Calculate ASPNet Identity Password Hash</h4>

<p>
  <mark>note: may take a moment depending on the speed of your computer.</mark>
</p>

<p>
  <label>Enter Password:</label><br>
  <input type="text" @bind="InputValue" />
</p>

<button @onclick="calculateHashValue">Calculate Hash</button>

<p>
  <label>Hash:</label><br>
  <code>@HashValue</code>
</p>
